<div class="card  m-5">

  <!-- Header -->
  <div class="card-header">
    <strong>
      Adicionar Ticket
    </strong>
  </div>

  <!-- form -->
  <div class="card-body">

    <form novalidate (ngSubmit)="saveTicket()" [formGroup]="ticketForm">

      <div class="form-group row">
        <label class="col-md-2 col-form-label m-1" for="subject"> Assunto </label>
        <div class="col-md-8">
          <input class="form-control" type="text" id="subject" name="subject" placeholder="Type a subjct of ticket"
            formControlName="subject">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="description"> Descrição </label>
        <div class="col-md-8">
          <textarea class="form-control m-2" name="description" id="description" rows="10"
            placeholder="Type a tickets description" formControlName="description">
          </textarea>
        </div>
      </div>

      <!-- actions -->
      <div class="form-group row mt-4">
        <div class="offset-md-2 col-md-6">

          <button class="btn btn-primary m-2" type="submit"
            [title]="ticketForm.valid ? 'Salvar' : 'Desabilitade até validar campos' " [disabled]="!ticketForm.valid">
            Salvar
          </button>
          <button class="btn btn-outline-secondary m-2" type="button" title="cancelar" [routerLink]="['/tickets']">
            Cancelar
          </button>

        </div>
      </div>

    </form>

  </div>

</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
  <strong> {{errorMessage}} </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>