<div class="container">

  <div class="card m-5">
    <!-- Header -->
    <div class="card-header">
      <h4> Alterar Senha </h4>
    </div>
    <div class="card-body m-2 p-5">
      <h4>Alterar senha </h4>
      <!-- form -->
      <form (ngSubmit)="updatePassword()" [formGroup]="userPasswordForm">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="currentPassword"> <strong> Senha atual: </strong> </label>
          <div class="col-md-9">
            <input class="form-control m-2" type="text" id="currentPassword" name="currentPassword"
              placeholder="Digite sua senha atual" formControlName="currentPassword">
          </div>
          <div class="text-danger"
            *ngIf="userPasswordForm.controls['currentPassword'].invalid && 
              (userPasswordForm.controls['currentPassword'].touched || userPasswordForm.controls['currentPassword'].dirty)">
            <span *ngIf="userPasswordForm.controls['currentPassword'].errors?.['required']"> Campo é obrigatório!</span>
            <span *ngIf="userPasswordForm.controls['currentPassword'].errors?.['minlength']"> Mínimo 3
              caracteres!</span>
            <span *ngIf="userPasswordForm.controls['currentPassword'].errors?.['maxlength']"> Máximo 50
              caracteres!</span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="newPassword"> <strong> Nova senha: </strong> </label>
          <div class="col-md-9">
            <input class="form-control m-2" type="text" id="newPassword" name="newPassword"
              placeholder="Digite sua nova senha" formControlName="newPassword">
          </div>
          <div class="text-danger" *ngIf="userPasswordForm.controls['newPassword'].invalid && 
              (userPasswordForm.controls['newPassword'].touched || userPasswordForm.controls['newPassword'].dirty)">
            <span *ngIf="userPasswordForm.controls['newPassword'].errors?.['required']"> Campo é obrigatório!</span>
            <span *ngIf="userPasswordForm.controls['newPassword'].errors?.['minlength']"> Mínimo 3 caracteres!</span>
            <span *ngIf="userPasswordForm.controls['newPassword'].errors?.['maxlength']"> Máximo 50 caracteres!</span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="passwordConfirm"> <strong> Confirme sua nova senha: </strong>
          </label>
          <div class="col-md-9">
            <input class="form-control m-2" type="text" id="newPasswordConfirm" name="newPasswordConfirm"
              placeholder="Confirme sua nova senha" formControlName="newPasswordConfirm">
          </div>
          <div class="text-danger"
            *ngIf="userPasswordForm.controls['newPasswordConfirm'].invalid && 
              (userPasswordForm.controls['newPasswordConfirm'].touched || userPasswordForm.controls['newPasswordConfirm'].dirty)">
            <span *ngIf="userPasswordForm.controls['newPasswordConfirm'].errors?.['required']"> Campo é
              obrigatório!</span>
            <span *ngIf="userPasswordForm.controls['newPasswordConfirm'].errors?.['minlength']"> Mínimo 3
              caracteres!</span>
            <span *ngIf="userPasswordForm.controls['newPasswordConfirm'].errors?.['maxlength']"> Máximo 50
              caracteres!</span>
          </div>
        </div>
        <!-- actions -->
        <div class="form-group row">
          <div class="offset-md-3 col-md-6">
            <button class="btn btn-primary m-2" type="submit"
              [title]="userPasswordForm.valid ? 'Salvar' : 'Desabilitado até validar campos' "
              [disabled]="!userPasswordForm.valid">
              Salvar
            </button>
            <button class="btn btn-outline-secondary m-2" title="cancelar" (click)="navigateUserDetails()">
              Cancelar
            </button>
          </div>
        </div>
        <!-- Alert -->
        <div class="alert alert-danger m-2 alert-dismissible fade show" role="alert" *ngIf="errorMessage">
          <strong> {{errorMessage}} </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            (click)="closeAlert()"></button>
        </div>
      </form>
    </div>
  </div>

</div>