<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow md-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>
        Helpdesk
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"> Olá, {{ getUsername() }} </a>
          </li>
        </ul>
        <!-- ****************************************** ADMIN PAINEL ****************************************** -->
        <form class="d-flex" *ngIf="isAdminLogged()">
          <button class="btn btn-outline-secondary m-2" type="submit"
            [routerLink]="['/users/dashbord']">Dashboard</button>
          <button class="btn btn-outline-secondary m-2" type="submit" [routerLink]="['/tickets']">Solicitações</button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle m-2" data-bs-toggle="dropdown"
              aria-expanded="false">
              Usuários
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" [routerLink]="['/users']">Usuarios Ativos</a>
                <!-- *********************************************************************************************************************** -->
                <!-- Implement a role to active and desactive user avoid to delete permanentle user for the intantion to mantain the history -->
                <!-- <li *ngIf="isAdminLogged()"><a class="dropdown-item" [routerLink]='["/"]'>Não ativos</a> </li> -->
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle m-2" data-bs-toggle="dropdown"
              aria-expanded="false">
              Cadastros
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" [routerLink]='["/user/register"]'>Usuário Padrão</a>
                <!-- *********************************************************************************************************************** -->
                <!-- Implement the role about add a tecn user and mor admins -->
                <!-- <li><a class="dropdown-item" [routerLink]='["/"]'>Técnico</a> -->
                <!-- <li><a class="dropdown-item" [routerLink]='["/"]'>Administrador</a> -->
              </li>
            </ul>
          </div>
          <button class="btn btn-outline-secondary m-2" type="submit" (click)="logout()"> Sair</button>
        </form>

        <!-- ****************************************** USER PAINEL ****************************************** -->
        <form class="d-flex" *ngIf="!isAdminLogged() && isLogged()">
          <button class="btn btn-outline-secondary m-2" type="submit"
            [routerLink]="['/users/dashbord']">Dashboard</button>
          <button class="btn btn-outline-secondary m-2" [routerLink]='["/tickets"]'>Solicitações</button>
          <!-- *********************************************************************************************************************** -->
          <!-- Implement the painel of datas of user and his management -->
          <button class="btn btn-outline-secondary m-2" [routerLink]="['/user', getId() ,'update']">
            Gerenciar Conta </button>
          <button class="btn btn-outline-secondary m-2" (click)="logout()"> Sair</button>
        </form>
        <!-- ****************************************** Login and Register ****************************************** -->
        <form class="d-flex" *ngIf="!isLogged()">
          <button class="btn btn-outline-secondary m-2" type="submit" [routerLink]='["/user/login"]'>Login</button>
          <button class="btn btn-outline-secondary m-2" type="submit"
            [routerLink]='["/user/register"]'>registrar</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>