<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow md-3">
    <div class="container">
      <a class="navbar-brand">
        Helpdesk
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["/"]'>Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> {{ getId() }} </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link"> {{getName()}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> {{getId()}} </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link"> {{ user.username }}</a>
          </li> -->
        </ul>
        <ul>
          <li>

            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
              aria-pressed="true">
              <svg class="bi me-2 opacity-50" width="1em" height="1em">
                <use href="#circle-half"></use>
              </svg>
              Auto
              <svg class="bi ms-auto d-none" width="1em" height="1em">
                <use href="#check2"></use>
              </svg>
            </button>

          </li>
        </ul>

        <form class="d-flex-2">
          <div class="btn-group" *ngIf="isLogged()">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">

              Olá, {{ getUsername() }}

            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li *ngIf="isAdminLogged()"><a class="dropdown-item" [routerLink]='["/users"]'>Painel de Usuarios</a>
              <li *ngIf="isAdminLogged()"><a class="dropdown-item" [routerLink]='["/tickets"]'>Painel de Tickets</a>
              </li>
              <!-- <li *ngIf="!isAdminLogged()"><a class="dropdown-item" [routerLink]="['/user', getId() , 'update']">Gerenciar sua Conta
                  Conta</a>
              </li> -->
              <li *ngIf="!isAdminLogged()"><a class="dropdown-item"
                  [routerLink]="['/user', getId() , 'update']">Gerenciar sua Conta
                  Conta</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <!-- <li><a class="dropdown-item"> {{user.id}} </a></li> -->


              <li><a class="dropdown-item" (click)="logout()"> Sair </a></li>
            </ul>
          </div>
          <button *ngIf="!isLogged()" class="btn btn-outline-primary" [routerLink]='["/user/login"]'>login</button>
          <button *ngIf="!isLogged()" class="btn btn-dark" [routerLink]='["/user/register"]'>registrar</button>
        </form>

      </div>
    </div>
  </nav>
</header>