<main>
  <!-- Initial Section -->
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><strong>Helpdesck</strong></h1>
        <p class="lead text-muted">Uma plataforma moderna desenvolvida para organizar, priorizar e acompanhar
          solicitações de suporte de forma rápida e eficiente. O sistema permite que equipes registrem chamados,
          atribuam responsáveis, monitorem o andamento das tarefas e acompanhem métricas de desempenho em tempo real.
        </p>
        <p>
          <a [routerLink]='["/user/register"]' class="btn btn-outline-primary m-2">Se cadastre</a>
        </p>
      </div>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="py-5 text-center container mb-5">
    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Intuitivo</h2>
          <h5>Com uma interface intuitiva e fluxos de trabalho automatizados, o sistema reduz
            falhas de comunicação, agiliza o atendimento e melhora a experiência tanto do usuário final quanto da equipe
            de suporte.</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Padronização</h2>
          <h5>Ideal para empresas que buscam padronizar processos, aumentar a produtividade e
            garantir um histórico completo de atendimento, oferecendo transparência e controle em cada etapa da
            resolução.</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Escale</h2>
          <h5>Aumente a produtividade dos agentes permitindo que eles gerenciem o suporte por canal
            direto de chat.</h5>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 3 -->
  <section class="py-5 text-center container mb-5">
    <div class="h-100 p-5 text-bg-secondary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Aumente a produtividade de sua equipe.</h1>
        <p class="fs-4">Centralize o atendimento e aumente a produtividade de sua equipe. Veja como automatizar seus
          processos, otimizar a gestão da sua equipe
          e os resultados da sua
          empresa.</p>
        <button class="btn btn-dark btn-lg" type="button">Cadastrar</button>
      </div>
    </div>
  </section>
  <!-- <app-footer></app-footer> -->
</main>